<a href="https://colab.research.google.com/github/AndraeR/F25-MAT-1630/blob/main/mat_1630_9_17_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Common loops

## Sum and Average Values

In [ ]:
total = 0.0
inputStr = input("Enter value: ")
while inputStr != "" :
   value = float(inputStr)
   total = total + value
   inputStr = input("Enter value: ")
print(total)

Enter value: 34
Enter value: 40
Enter value: 9
Enter value: 12
Enter value: 8
Enter value:
103.0

Modify to stop adding values

**Exercise:** Fix and improve this code:

In [ ]:
total = 0.0
count = 0
inputStr = input("Enter value: ")
while inputStr != "" :

  value = float(inputStr)
  total = total + value
  count = count + 1
  inputStr = input("Enter value: ")

if count > 0 :
   average = total / count
else :
   average = 0.0

print(average)

Enter value: 40
Enter value: 30
Enter value: 20
Enter value:
30.0

# Functions (Review)

In [ ]:
##
# This program computes the volumes of two cubes.
#

def main() :
    result1 = cubeVolume(2)
    result2 = cubeVolume(10)
    print("A cube with side length 2 has volume", result1)
    print("A cube with side length 10 has volume", result2)

## Computes the volume of a cube.
# @param sideLength the length of a side of the cube
# @return the volume of the cube
#
def cubeVolume(sideLength) :
    volume = sideLength ** 3
    return volume

# Start the program.
main()

A cube with side length 2 has volume 8
A cube with side length 10 has volume 1000

**Exercise** Write the following functions and provide a program to test them.
 * def smallest(x, y, z) (returning the smallest of the arguments)


* def average(x, y, z) (returning the average of the arguments)

In [ ]:
#We will be finding the smallest of three provided numbers through a competition system implemented in a function.

#our three variables input by the user.
num1 = int(input("Input a number: "))
num2 = int(input("Input a number: "))
num3 = int(input("Input a number: "))

#Now we create a function to handle the numbers.
def smallest(a, b, c):
  #we want an initial smallest number.
  smallest = a

  #Now the competition begins.
  if(b < a):
    smallest = b
    if (c < b):
      smallest = c
  elif( c < a):
    smallest = c


  return smallest

#Now we pass the function our parameters then print the result.
print("The smallest number is: ", smallest(num1, num2, num3))

#Now we need to create a function to get the average of those inputed numbers.
def average(a, b, c):

  #need a variable to store the average and we want decimal result
  average = float(a + b + c) /3
  return average

#Now we print the function via our parameters.
print("The average is: ", average(num1, num2, num3))

Input a number: 3
Input a number: 4
Input a number: 5
The smallest number is:  3
The average is:  4.0

# What's a list?

A list is an ordered, mutable collection of items. Items can be any type (numbers, strings, even other lists).

In [ ]:
nums = [10, 20, 30]
words = ["apple", "banana", "cherry"]
mixed = [42, "hello", 3.14, True]
empty = []

Indexing & slicing

Indexing starts at 0.

Negative indexes count from the end.

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
fruits[0]      # "apple"
fruits[-1]     # "date"
fruits[1:3]    # ["banana", "cherry"]
fruits[:2]     # ["apple", "banana"]
fruits[::2]    # every 2nd item -> ["apple", "cherry"]

['apple', 'cherry']

Lists are mutable (you can change them)

In [1]:
nums = [1, 2, 3]
nums[1] = 200           # [1, 200, 3] : change index 1 to 200
nums.append(4)          # [1, 200, 3, 4] : Add an element to the end of the list
nums.extend([5, 6])     # [1, 200, 3, 4, 5, 6] : Add this new list to the end of the list
nums.insert(2, 999)     # [1, 200, 999, 3, 4, 5, 6] : Put the number 999 into index 2. It also extends the list without removing the original number that was at that index.
del nums[3]             # remove by index -> [1, 200, 999, 4, 5, 6]
val = nums.pop()        # pops last (returns it) -> val=6
nums.remove(999)        # remove by value (first match)

print(nums)

[1, 200, 4, 5]

## Useful operations & functions

In [4]:
x = [3, 1, 2, 3, 2, 3]

len(x)          # 6
x.count(3)      # 3 (how many 3s)
x.index(2)      # 2 (first index of 2)

y =sorted(x)       # returns NEW sorted list -> [1, 2, 2, 3, 3, 3]
print(x)
print(y)
x.sort()        # sorts IN PLACE
print(x)
x.reverse()     # reverse IN PLACE
print(x)

3 in x          # membership test (True/False)
sum([1,2,3])    # 6 (numbers only)
min(x), max(x)  # smallest, largest

[3, 1, 2, 3, 2, 3]
[1, 2, 2, 3, 3, 3]
[1, 2, 2, 3, 3, 3]
[3, 3, 3, 2, 2, 1]

(1, 3)

## Looping

In [ ]:
pets = ["cat", "dog", "parrot"]

for p in pets:
    print(p)

for i, p in enumerate(pets):
    print(i, p)   # index + value

cat
dog
parrot
0 cat
1 dog
2 parrot